html {
    font-family: 'Cormorant Garamond', serif;
}

body {
    width: 100%;
    margin: 5vw auto;
    background-color: antiquewhite;
    display: grid;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Proza Libre', sans-serif;
}

.card {
    display:inline-block;
    border-color: antiquewhite;
      
}
.top {
    border-radius: 30px;
}