<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Flask-based temporary digital library.">
        <link rel="stylesheet" href="/static/css/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>
    <body>
		<header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{url_for('index')}}">

					Mailman <img src="../static/images/logomail.jpeg" style= "border-radius: 50%;" width="20" height="20" class="d-inline-block align-top" alt="">
					</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{url_for('about')}}">About</a>
                <a class="nav-item nav-link active" href="{{url_for('emails')}}">Emails</a>
                <a class="nav-item nav-link active" href="{{url_for('senders')}}">Senders</a>
                <a class="nav-item nav-link active" href="{{url_for('labels')}}">Labels</a>
                </div>
                </div>
            </nav>
        </header>
		
		<div><h1 class = "display-1 text-center">About</h1></div>
		<div><h4 class = "text-center">Check out the team behind the Mailman project!</h4></div>
		<div class="row">
			<div class="card col-sm">
			  <center><img class="top"  src="../static/images/ariel.jpeg" alt="Image of Ariel" style = "width:250px;height:350px;"></center>
			  <div class="card-body">
				<h5 class="card-title">Ariel Wang</h5>
				<p class="card-text">{{bios[0]}}</p>
				<p class="card-text">{{bios[1]}}</p>
				<p class="card-text">Commits by Ariel: {{commits['Ariel Wang']}}</p>
				<p class="card-text">Issues Created: {{issues['Ariel Wang']}}</p>
				<p class="card-text">Unit Tests: 0</p>
			  </div>
			</div>
			<div class="card col-sm">
			  <center><img class="top"  src="../static/images/zuhayer.jpg" alt="Image of Zuhayer" style = "width:250px;height:350px;"></center>
			  <div class="card-body">
				<h5 class="card-title">Zuhayer Kalam</h5>
				<p class="card-text">{{bios[2]}}</p>
				<p class="card-text">{{bios[3]}}</p>
				<p class="card-text">Commits by Zuhayer: {{commits['Zuhayer Kalam']}}</p>
				<p class="card-text">Issues Created: {{issues['Zuhayer Kalam']}}</p>
				<p class="card-text">Unit Tests: 0</p>
			  </div>
			</div>
			<div class="card col-sm">
			  <center><img class="top" src="../static/images/andrew.jpg" alt="Image of Andrew" style = "width:250px;height:350px;"></center>
			  <div class="card-body">
				<h5 class="card-title">Andrew Yang</h5>
				<p class="card-text">{{bios[4]}}</p>
				<p class="card-text">{{bios[5]}}</p>
				<p class="card-text">Commits by Andrew: {{commits['Andrew Yang']}}</p>
				<p class="card-text">Issues Created: {{issues['Andrew Yang']}}</p>
				<p class="card-text">Unit Tests: 17</p>
			  </div>
			</div>
			<div class="card col-sm">
			  <center><img class="top"  src="../static/images/najia.JPG" alt="Image of Najia" style = "width:250px;height:350px;"></center>
			  <div class="card-body">
				<h5 class="card-title">Najia Sherwani</h5>
				<p class="card-text">{{bios[6]}}</p>
				<p class="card-text">{{bios[7]}}</p>
				<p class="card-text">Commits by Najia: {{commits['Najia Sherwani']}}</p>
				<p class="card-text">Issues Created: {{issues['Najia K Sherwani']}}</p>
				<p class="card-text">Unit Tests: 0</p>
			  </div>
			</div>
			<div class="card col-sm">
			  <center><img class="top" src="../static/images/Aram.png" alt="Image of Aram" style = "width:250px;height:350px;"></center>
			  <div class="card-body">
				<h5 class="card-title">Aram Baali</h5>
				<p class="card-text">{{bios[8]}}</p>
				<p class="card-text">{{bios[9]}}</p>
				<p class="card-text">Commits by Aram: {{commits['Aram Baali']}}</p>
				<p class="card-text">Issues Created: {{issues['Aram Baali']}}</p>
				<p class="card-text">Unit Tests: 0</p>
			  </div>
			</div>
		  </div>
			<h2 class = "display-3 text-center">Stats</h2>
			<div class= "h3 text-center">
			<p>Total Commits: {{tot_com}}</p>
			<p>Total Issues: {{tot_issues}}</p>
			<p>Total Unit Tests: 17</p>
			<a href="https://gitlab.com/awang78/cs331e-idb/-/issues">GitLab Issue Tracker</a><br>
			<a href="https://gitlab.com/awang78/cs331e-idb">GitLab Repository</a><br>
			<a href="https://gitlab.com/awang78/cs331e-idb/wikis">GitLab Wiki</a><br>
			<a href="https://elements.getpostman.com/redirect?entityId=26272350-ba73ea79-a515-471f-aa94-9ee450290fd9&entityType=collection">Postman API Collection</a><br>
			<a href="https://speakerdeck.com/zionaw1155/mailman-presentation">Presentation Slides on SpeakerDeck</a>
			</div>
			
		  	<h2 class = "display-3 text-center">Data</h2>
				<div class="card"  style="width:18rem; margin: auto">
						<img class="card-img-top" style = "width:18rem;height:10vw;padding:10px" src="../static/images/google.png" alt="google icon">
						<div class="card-body">
							<h5 class="card-title">All data was from a user account through the <a href="https://developers.google.com/gmail/api/reference/rest">Gmail API</a></h5>
						</div>
					</div>
				<h2 class = "display-3 text-center">Tools</h2>
				<div class="row" style = "padding:30px;margin:auto">
					<div class="card col-sm-2" style = "width:18rem">
						<img class="card-img-top" style = "width:100%;height:10vw;padding:10px" src="../static/images/bootstrap.png" alt="bootstrap icon">
						<div class="card-body">
							<h5 class="card-title">Bootstrap</h5>
						</div>
					</div>
					<div class="card col-sm-2" style = "width:18rem;margin:auto">
						<img class="card-img-top" style = "width:100%;height:10vw;padding:10px" src="../static/images/python.png" alt="python icon">
						<div class="card-body">
							<h5 class="card-title">Python</h5>
						</div>
					</div>
					<div class="card" style = "width:18rem">
						<img class="card-img-top" style = "width:100%;height:10vw;padding:10px" src="../static/images/flask.png" alt="flask icon">
						<div class="card-body">
							<h5 class="card-title">Flask</h5>
						</div>
					</div>
				</div>
		
    </body>
</html>