<html>
	    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Flask-based temporary digital library.">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  		
    </head>

	<body>
	
		<header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{url_for('index')}}">

					Mailman <img src="../static/images/logomail.jpeg" style= "border-radius: 50%;" width="20" height="20" class="d-inline-block align-top" alt="">
					</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{url_for('about')}}">About</a>
                <a class="nav-item nav-link active" href="{{url_for('emails')}}">Emails</a>
                <a class="nav-item nav-link active" href="{{url_for('senders')}}">Senders</a>
                <a class="nav-item nav-link active" href="{{url_for('labels')}}">Labels</a>
                </div>
                </div>
            </nav>
        </header>
		<h1 class = "display-1 text-center">Messages</h1>
		<!--SORTING FUNCTION-->
		<form action = "{{url_for('emails')}}" class = "row g-3" method = 'GET'>
			<div class = 'col-auto'>
				<select id = "table_search" class = "form-select" name = "getattr">
					<option disabled selected value>Choose an attribute to sort by</option>
					<option value="msg_id">Message ID</option>
					<option value="datetime">Date/Time</option>
					<option value="subject">Subject</option>
					<option value="sender">Sender</option>
					<option value="size">Size</option>
				</select>
			</div>
			<div class = 'col-auto'>
				<select id = "table_search" class = "form-select" name = "asc">
					<option selected value="asc">Ascending</option>
					<option value="desc">Descending</option>
				</select>
			</div>
			<div class = 'col-auto'>
				<button type="submit" id = "email_search" class="btn btn-primary">Sort</button>
			</div>
		</form>
		<!--SEARCHING FUNCTION-->
		<div class = "d-grid gap-3">
			<div class = "p-2 bg-light border">
                <form action = "{{url_for('emails')}}" class = "row g-3" method = 'get'>
					<div class = 'col-md-6'>
						<input type = "text" class = "form-control" id = "input" name = 'input' placeholder = "Search">
					</div>
					<div class = 'col-auto'>
						<button type="submit" id = "email_search" class="btn btn-primary">Search</button>
					</div>
				</form>
            </div>
			<!--DISPLAY TABLE-->
			<div class = "p-2">
				{% if email_list == [] %}
					<p>No emails exist</p>	
				{% else %}
					<div class = "table-wrapper-scroll-y">
						<table class = "table table-bordered table-striped mb-0">
							<thead>
								<th scope = "col">Message ID</th>
								<th scope = "col">Date/Time</th>
								<th scope = "col">Subject</th>
								<th scope = "col">Sender</th>
								<th scope = "col">Unread</th>
								<th scope = "col">Starred</th>
								<th scope = "col">Important</th>
								<th scope = "col">Category</th>
								<th scope = "col">Size</th>
							</thead>
							<tbody>
								{% for i in email_list %}
									<tr>
										<p hidden id="email_instance">{{i}}</p>
										<th scope = "row"> <a href="{{url_for('oneEmail', instance = i)}}">{{i.msg_id}}</a> </th>
										<td> {{i.datetime}} </td>
										<td> {{i.subject}} </td>
										<td> <a href="{{url_for('oneSender', instance = i.sender)}}">{{i.sender}}</a> </td>
										<td> {{i.unread}} </td>
										<td> {{i.starred}} </td>
										<td> {{i.important}} </td>
										<td> <a href="{{url_for('oneLabel', instance = i.category)}}">{{i.category}}</a> </td>
										<td> {{i.size}} </td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% endif %}
			</div>
		</div>
	</body>
</html>
