<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Flask-based temporary digital library.">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>
	<body style="background-color:rgba(187, 187, 242, 0)">
    
        
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{url_for('index')}}">

					Mailman <img src="../static/images/logomail.jpeg" style= "border-radius: 50%;" width="20" height="20" class="d-inline-block align-top" alt="">
					</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{url_for('about')}}">About</a>
                <a class="nav-item nav-link active" href="{{url_for('emails')}}">Emails</a>
                <a class="nav-item nav-link active" href="{{url_for('senders')}}">Senders</a>
                <a class="nav-item nav-link active" href="{{url_for('labels')}}">Labels</a>
                </div>
                </div>
            </nav>
        </header>

		<div class="jumbotron jumbotron-fluid" style="width:100%;height:50vw;">
			
			
			<img style = "opacity: 100% ;filter: blur(2px);width:100%;height:50vw;padding:0px;margin:0px;position: absolute; top: 10%;" src="../static/images/Best_Android_email_apps_hero.jpeg" alt="gmail icon">
			
				<h1 class = "display-1 text-center" 
				style = "position: absolute; top: 25%; left: 50%;
				transform: translate(-50%, -50%);  color: rgb(4, 4, 95);">Mailman</h1>
				<h4 class = "text-center" style = "position: absolute; top: 35%; left: 50%;
				transform: translate(-50%, -50%);  color: rgb(4, 4, 95);">
				Control your gmail account with ease. Find information and data analytics on how you use your email.
			</h4>
		
				
			


        <main>  
			<div class = "col-sm-6 mx-auto" style = "position: absolute; top: 45%; left: 25%;">
				<div class="card-deck" style = "">
					<div class="card border-info mb-3" style ="height: 200px;">
						<img class="card-img-top" style = "width: 180%;height: auto ;padding:0px" src="../static/images/Envelope.png" alt="gmail icon">
						<div class="card-body">
							<h5 class="card-title" style = "position: absolute; top: 5%; left: 35%;">Emails</h5>
							
						</div>
					</div>
					<div class="card border-info mb-3" style ="height: 200px;">
						<img class="card-img-top"  style = "width: 180%;height: auto ;padding:0px; object-position: 100% 0;" src="../static/images/Senders.png" alt="sent mail icon">
						<div class="card-body">
							<h5 class="card-title" style = "position: absolute; top: 5%; left: 35%;">Senders</h5>
							
						</div>
					</div>
					<div class="card border-info mb-3" style ="height: 200px;">
						<img class="card-img-top" style = "width: 175%;height: auto ;padding:0px" src="../static/images/Labels.png" alt="data icon">
						<div class="card-body">
							<h5 class="card-title" style = "position: absolute; top: 5%; left: 35%;">Labels</h5>
							
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<a style = "position: absolute; top: 51%; left: 27%;" href="{{url_for('emails')}}">Click here to access your <br> emails with Mailman's API!</a>
	<a style = "position: absolute; top: 51%; left: 61%;" href="{{url_for('labels')}}">Click here to <br>access your emails <br>organized by label!</a>
	<a style = "position: absolute; top: 51%; left: 44%;" href="{{url_for('senders')}}">Click here<br> to access <br> your emails <br> sorted by <br> sender!</a>
		
    </body>
</html>