<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Flask-based temporary digital library.">
        <link rel="stylesheet" href="/static/css/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
      </head>
    <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{url_for('index')}}">

      Mailman <img src="../static/images/logomail.jpeg" style= "border-radius: 50%;" width="20" height="20" class="d-inline-block align-top" alt="">
      </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{{url_for('about')}}">About</a>
            <a class="nav-item nav-link active" href="{{url_for('emails')}}">Emails</a>
            <a class="nav-item nav-link active" href="{{url_for('senders')}}">Senders</a>
            <a class="nav-item nav-link active" href="{{url_for('labels')}}">Labels</a>
            </div>
            </div>
        </nav>
    </header>
        <body>
            <h1 class = "display-1 text-center">Email</h1>
            <div class="card" style="align-items: center;">
                <div class="card-body">
                  <h5 class="card-title">Email ID: {{email_instance.msg_id}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{email_instance.datetime}}</h6>
                  
                  <p class="card-text">Subject: {{email_instance.subject}}<br>
                    Unread: {{email_instance.unread}}<br>
                    Starred: {{email_instance.starred}}<br>
                    Important: {{email_instance.important}}<br>
                    Size: {{email_instance.size}}<br></p>
                  <h6 class="card-text">Sender: <a href="{{url_for('oneSender', instance = email_instance.sender)}}" class="card-link">{{email_instance.sender}}</a></h6>
                  {% if (email_instance.category == "Uncategorized") %}
                    <p class="card-text">{{email_instance.category}}</p>
                  {% else %}
                    <h6 class="card-text">Label: <a href="{{url_for('oneLabel', instance = email_instance.category)}}" class="card-link">{{email_instance.category}}</a></h6>
                  {% endif %}
                </div>
              </div>

        </body>
    </html>
