<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Flask-based temporary digital library.">
        <link rel="stylesheet" href="/static/css/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
      </head>
    <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{url_for('index')}}">

      Mailman <img src="../static/images/logomail.jpeg" style= "border-radius: 50%;" width="20" height="20" class="d-inline-block align-top" alt="">
      </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{{url_for('about')}}">About</a>
            <a class="nav-item nav-link active" href="{{url_for('emails')}}">Emails</a>
            <a class="nav-item nav-link active" href="{{url_for('senders')}}">Senders</a>
            <a class="nav-item nav-link active" href="{{url_for('labels')}}">Labels</a>
            </div>
            </div>
        </nav>
    </header>
        <body>
            <h1 class = "display-1 text-center">Label</h1>
            <div class="card" style="align-items: center;">
                <div class="card-body">
                  <h5 class="card-title">{{label_instance.label}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Senders: {{label_instance.sender_count}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Emails: {{label_instance.message_count}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Total Size: {{label_instance.total_size}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Top Sender: <a href="{{url_for('oneSender', instance = label_instance.top_sender)}}" class="card-link">{{label_instance.top_sender}}</a></h6>
                  
                </div>
              </div>

        </body>
    </html>