<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <div class="row">
			<div class="card col-sm">
			  <img class="card-img-top" style = 'width:100%;' src="../static/images/ariel.jpeg" alt="Image of Ariel">
			  <div class="card-body">
				<h5 class="card-title">Ariel Wang</h5>
				<p class="card-text">{{bios[0]}}</p>
				<p class="card-text">{{bios[1]}}</p>
				<p class="card-text">Commits by Ariel: {{commits['Ariel Wang']}}</p>
			  </div>
			</div>
			<div class="card col-sm">
			  <img class="card-img-top" style = 'width:100%;' src="../static/images/zuhayer.jpg" alt="Image of Zuhayer">
			  <div class="card-body">
				<h5 class="card-title">Zuhayer Kalam</h5>
				<p class="card-text">{{bios[2]}}</p>
				<p class="card-text">{{bios[3]}}</p>
				<p class="card-text">Commits by Zuhayer: {{commits['Zuhayer Kalam']}}</p>
			  </div>
			</div>
			<div class="card col-sm">
			  <img class="card-img-top" src="..." alt="Image of Andrew">
			  <div class="card-body">
				<h5 class="card-title">Andrew Yang</h5>
				<p class="card-text">{{bios[4]}}</p>
				<p class="card-text">{{bios[5]}}</p>
				<p class="card-text">Commits by Andrew: {{commits['Andrew Yang']}}</p>
			  </div>
			</div>
			<div class="card col-sm">
			  <img class="card-img-top" style = 'width:100%;' src="../static/images/najia.JPG" alt="Image of Najia">
			  <div class="card-body">
				<h5 class="card-title">Najia Sherwani</h5>
				<p class="card-text">{{bios[6]}}</p>
				<p class="card-text">{{bios[7]}}</p>
				<p class="card-text">Commits by Najia: {{commits['Najia Sherwani']}}</p>
			  </div>
			</div>
			<div class="card col-sm">
			  <img class="card-img-top" src="..." alt="Image of Aram">
			  <div class="card-body">
				<h5 class="card-title">Aram Baali</h5>
				<p class="card-text">{{bios[8]}}</p>
				<p class="card-text">{{bios[9]}}</p>
				<p class="card-text">Commits by Aram: {{commits['Aram Baali']}}</p>
			  </div>
			</div>
		  </div>
    </body>
</html>
